@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');

body {
    background-color: rgb(214, 227, 255);
}

.nav_link:hover {
    background-color: black;
    color: white;
}

nav {
    margin: 0 auto;
    text-align: center;
}

a {
    padding: 10px;
    color: black;
    font-size: 1.1em;
    font-family: 'DM Serif Display', serif;
}

.nav_link {
    margin: 0 auto;
}

img {
    width: 40%;
    height: auto;
}

p {
    width: 70%;
    font-size: 1.2em;
    padding: 20px;
}

.center {
    display: block;
    margin: 0 auto;
    text-align: center;
    font-family: 'DM Serif Display', serif;
}

footer {
    margin: 0 auto;
    padding: auto;
}

footer p {
    background-color: white;
    margin: 0 auto;
    padding: auto;
}